<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="page">

    <div class="form-card">

        <h2>Login</h2>

        <form method="POST">

            <label>Username</label>

            <input type="text"
                   name="username"
                   placeholder="Enter username"
                   required>

            <label>Password</label>

            <input type="password"
                   name="password"
                   placeholder="Enter password"
                   required>

            {% if message %}
            <p class="error">{{ message }}</p>
            {% endif %}

            <button type="submit" class="form-btn blue">
                Login
            </button>

        </form>

        <p class="account-text">
            <a href="{{ url_for('signup') }}">
                Create New Account
            </a>
        </p>

    </div>

</div>

</body>
</html>